################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/InventorySystem/FileContentIndex/22635f64-3e1b-4ae3-92e5-d0f0337363ea.vsidx
/.vs/InventorySystem/FileContentIndex/6324bff6-e5a5-46e2-99a3-a611ceb878c2.vsidx
/.vs/InventorySystem/FileContentIndex/9ec20481-e82d-412b-8e3b-b8f67a24ae23.vsidx
/.vs/InventorySystem/FileContentIndex/d0ed39b8-5513-460a-a465-8623d4d45578.vsidx
/.vs/InventorySystem/FileContentIndex/952f86f6-46ce-4da9-b9c9-5887afbd3362.vsidx
/.vs/InventorySystem/FileContentIndex/cee9701b-b5b3-4562-8354-020c3e56c170.vsidx
/.vs/InventorySystem/FileContentIndex/9459515e-9bae-490a-a103-356a43ba2dac.vsidx
/.vs/InventorySystem/FileContentIndex/f7b8dcd7-df49-4b02-9432-fe280efa091f.vsidx
